* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height:auto;
    position: relative;
    margin-bottom:0px;
    padding:20px;


}
.navbar-header{
    display: flex;
    margin-bottom:0px;
    padding:0px;
}

.navbar-brand{
    position: relative;
   margin:0px;
   padding:0px; 
  
}

.navbar-brand .logo{
    width:250px;
        height:auto;
        margin:0px;
        padding:0px;
margin-left:-90px;
margin-top:-50px;
}
.navbar-brand .farmer{
   
    width:100px;
        height:100px;
        margin:0px;
        padding:0px;
        position: relative;
        margin-top:35px;
        top:-40px;
}


.navbar-right ul {

    padding-top: 20px;

}

.navbar-right li {
    padding-top:60px; 
  margin-right:20px;
   
}
.active{
    padding-top: 60px; 
    margin-left:3%;
}
.navbar.back ul li a{
    text-decoration: none;
    font-size: 16px;
  
    
}
span{
    font-size: 16px;
}
.navbar ul li a:hover{
    color:#388e3c;
}
.dropdown .dropdown-menu{
    height:auto;
    width:auto;
overflow: visible;
margin:0px;
  line-height:1.5;
    padding:0px;
    background-color:white;
}
.btn.add{
    background-color: #4CAF50;
    border:none;
 
    margin-right:10px;
}
.btn.add:hover{
    background-color: #FF9800;
    border:none;
}
.btn.buy{
    background-color: #D32F2F;
    border:none;
}
.btn.buy:hover{
    background-color: #1976D2;
    border:none;
}